html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.4;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.accordion-wrapper {
  & + * {
    margin-top: 0.5em;
  }
}

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1em;
  border-radius: 17px;
  transition: border-bottom-right-radius 1s, border-bottom-left-radius 1s;
}

.accordion-top-icon {
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }

  &.open {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: border-bottom-right-radius 0.5s, border-bottom-left-radius 0.5s;

    &::after {
      content: '';
      border-top: 0;
      border-bottom: 5px solid;
    }
  }
}

.accordion-content {
  padding: 1em 1.5em;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

// STARS BACKGROUND EFFECT
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 266px 664px #fff, 1154px 1578px #fff, 1292px 1117px #fff, 420px 904px #fff,
    1749px 1878px #fff, 842px 711px #fff, 660px 766px #fff, 1577px 1364px #fff,
    781px 1183px #fff, 515px 1699px #fff, 1405px 571px #fff, 414px 12px #fff,
    1230px 1261px #fff, 1302px 939px #fff, 68px 1949px #fff, 97px 1580px #fff,
    213px 1286px #fff, 1765px 49px #fff, 847px 333px #fff, 465px 1987px #fff,
    1369px 129px #fff, 1312px 1871px #fff, 1957px 1515px #fff, 756px 1438px #fff,
    654px 173px #fff, 1077px 554px #fff, 559px 1500px #fff, 168px 313px #fff,
    376px 1413px #fff, 1451px 656px #fff, 720px 553px #fff, 794px 1199px #fff,
    589px 855px #fff, 1043px 1811px #fff, 908px 1192px #fff, 563px 604px #fff,
    808px 1590px #fff, 1556px 1200px #fff, 184px 1864px #fff, 180px 503px #fff,
    1227px 400px #fff, 1063px 1298px #fff, 359px 1647px #fff, 213px 578px #fff,
    1153px 76px #fff, 1780px 340px #fff, 1563px 740px #fff, 1918px 1611px #fff,
    143px 1144px #fff, 622px 1624px #fff, 1291px 1756px #fff, 1345px 261px #fff,
    1638px 1704px #fff, 1921px 1376px #fff, 1390px 1792px #fff, 1761px 530px #fff,
    295px 1463px #fff, 75px 886px #fff, 675px 1896px #fff, 1335px 411px #fff,
    1924px 79px #fff, 1795px 1390px #fff, 174px 723px #fff, 112px 750px #fff,
    1612px 1509px #fff, 80px 598px #fff, 568px 1736px #fff, 1370px 1050px #fff,
    1677px 857px #fff, 1968px 496px #fff, 1428px 651px #fff, 1356px 432px #fff,
    1678px 1558px #fff, 1845px 1199px #fff, 701px 8px #fff, 469px 382px #fff,
    1389px 197px #fff, 858px 1408px #fff, 1259px 336px #fff, 869px 156px #fff,
    316px 858px #fff, 1050px 472px #fff, 1735px 1983px #fff, 800px 1012px #fff,
    489px 760px #fff, 431px 1984px #fff, 1236px 1353px #fff, 681px 857px #fff,
    1601px 1243px #fff, 1355px 1819px #fff, 1304px 1186px #fff, 248px 699px #fff,
    995px 798px #fff, 1624px 1387px #fff, 1071px 1661px #fff, 322px 946px #fff,
    1554px 1344px #fff, 125px 114px #fff, 522px 1115px #fff, 654px 1808px #fff,
    384px 509px #fff, 774px 842px #fff, 1753px 75px #fff, 559px 1403px #fff,
    51px 1983px #fff, 605px 1355px #fff, 1976px 390px #fff, 580px 144px #fff,
    1020px 1217px #fff, 1744px 478px #fff, 901px 661px #fff, 1228px 397px #fff,
    1208px 1726px #fff, 544px 281px #fff, 298px 759px #fff, 1876px 1847px #fff,
    1128px 1109px #fff, 1904px 487px #fff, 1178px 1202px #fff, 1293px 198px #fff,
    602px 1259px #fff, 354px 1233px #fff, 1824px 1714px #fff, 599px 881px #fff,
    1570px 1075px #fff, 336px 1667px #fff, 653px 330px #fff, 342px 1587px #fff,
    991px 1912px #fff, 364px 1914px #fff, 1243px 396px #fff, 985px 1282px #fff,
    1774px 191px #fff, 1238px 1723px #fff, 983px 443px #fff, 506px 846px #fff,
    1785px 893px #fff, 721px 1999px #fff, 1274px 1883px #fff, 1854px 1524px #fff,
    1155px 1493px #fff, 500px 1054px #fff, 839px 1486px #fff, 1142px 758px #fff,
    1519px 1533px #fff, 988px 1802px #fff, 546px 1016px #fff, 1908px 1929px #fff,
    1560px 833px #fff, 776px 1947px #fff, 1427px 103px #fff, 81px 1722px #fff,
    1758px 1401px #fff, 782px 1163px #fff, 954px 267px #fff, 628px 375px #fff,
    1796px 863px #fff, 852px 1397px #fff, 1421px 384px #fff, 1082px 1424px #fff,
    859px 1039px #fff, 23px 1038px #fff, 227px 245px #fff, 1363px 1944px #fff,
    385px 382px #fff, 870px 74px #fff, 1252px 1204px #fff, 1190px 1901px #fff,
    1578px 1298px #fff, 805px 192px #fff, 1589px 1400px #fff, 743px 1300px #fff,
    804px 892px #fff, 1010px 340px #fff, 574px 493px #fff, 1222px 733px #fff,
    1625px 1784px #fff, 1528px 243px #fff, 97px 1428px #fff, 1168px 706px #fff,
    225px 1963px #fff, 272px 1495px #fff, 509px 1834px #fff, 663px 1953px #fff,
    1184px 811px #fff, 1130px 104px #fff, 797px 1648px #fff, 317px 44px #fff,
    1851px 1895px #fff, 1888px 686px #fff, 968px 1302px #fff, 1496px 1449px #fff,
    1300px 1739px #fff, 1922px 1708px #fff, 37px 465px #fff, 106px 888px #fff,
    779px 17px #fff, 65px 1860px #fff, 1196px 1652px #fff, 402px 1189px #fff,
    1579px 56px #fff, 1554px 1940px #fff, 1984px 1522px #fff, 1569px 45px #fff,
    84px 1224px #fff, 889px 699px #fff, 304px 1768px #fff, 1262px 286px #fff,
    574px 1016px #fff, 513px 1275px #fff, 348px 1584px #fff, 144px 146px #fff,
    1938px 1613px #fff, 1256px 603px #fff, 555px 238px #fff, 1895px 277px #fff,
    1931px 1544px #fff, 694px 282px #fff, 1176px 622px #fff, 1969px 1870px #fff,
    232px 1499px #fff, 280px 1773px #fff, 1223px 614px #fff, 505px 1958px #fff,
    118px 982px #fff, 144px 1035px #fff, 487px 1721px #fff, 1522px 1501px #fff,
    1987px 1816px #fff, 784px 334px #fff, 1245px 773px #fff, 1262px 412px #fff,
    104px 1969px #fff, 276px 1724px #fff, 167px 1500px #fff, 638px 336px #fff,
    1995px 1969px #fff, 1127px 1677px #fff, 1358px 1278px #fff, 305px 1509px #fff,
    1616px 1629px #fff, 297px 1317px #fff, 801px 1518px #fff, 1149px 1891px #fff,
    1442px 320px #fff, 1286px 1582px #fff, 977px 506px #fff, 1276px 1000px #fff,
    1484px 1595px #fff, 1423px 1626px #fff, 605px 1677px #fff, 1239px 831px #fff,
    140px 1758px #fff, 418px 779px #fff, 1683px 717px #fff, 1879px 34px #fff,
    1212px 1567px #fff, 1326px 1416px #fff, 1532px 282px #fff, 1491px 1594px #fff,
    350px 1667px #fff, 1882px 1608px #fff, 437px 807px #fff, 435px 1087px #fff,
    1129px 1350px #fff, 631px 585px #fff, 112px 42px #fff, 1010px 1929px #fff,
    1163px 1357px #fff, 1266px 1606px #fff, 990px 1502px #fff, 1099px 1101px #fff,
    1377px 442px #fff, 225px 655px #fff, 543px 958px #fff, 1384px 1881px #fff,
    1739px 1951px #fff, 523px 1015px #fff, 1578px 1993px #fff, 1971px 812px #fff,
    479px 583px #fff, 1935px 630px #fff, 529px 882px #fff, 1058px 501px #fff,
    1559px 63px #fff, 833px 720px #fff, 815px 1451px #fff, 690px 1186px #fff,
    1938px 1885px #fff, 1364px 183px #fff, 1785px 1594px #fff, 1662px 1016px #fff,
    321px 1653px #fff, 975px 276px #fff, 379px 1700px #fff, 1069px 308px #fff,
    1381px 1943px #fff, 1542px 733px #fff, 1807px 1056px #fff, 501px 1733px #fff,
    1736px 644px #fff, 877px 1097px #fff, 62px 1434px #fff, 599px 1585px #fff,
    1204px 327px #fff, 1823px 117px #fff, 1576px 745px #fff, 1230px 909px #fff,
    1958px 1446px #fff, 579px 1377px #fff, 1847px 697px #fff, 1452px 827px #fff,
    1860px 1420px #fff, 1027px 1689px #fff, 1704px 859px #fff, 967px 464px #fff,
    115px 1327px #fff, 1671px 532px #fff, 1217px 332px #fff, 222px 49px #fff,
    1349px 1302px #fff, 569px 1159px #fff, 467px 1198px #fff, 1186px 68px #fff,
    1354px 1736px #fff, 1839px 915px #fff, 1390px 1303px #fff, 1822px 1859px #fff,
    429px 265px #fff, 1687px 322px #fff, 1406px 226px #fff, 1683px 1593px #fff,
    1301px 1680px #fff, 812px 598px #fff, 813px 485px #fff, 1925px 1801px #fff,
    506px 1306px #fff, 507px 208px #fff, 69px 1614px #fff, 1277px 764px #fff,
    1634px 1006px #fff, 1734px 490px #fff, 1546px 1291px #fff, 583px 1488px #fff,
    94px 68px #fff, 1685px 446px #fff, 1910px 590px #fff, 601px 711px #fff,
    714px 1925px #fff, 508px 420px #fff, 1601px 3px #fff, 1633px 904px #fff,
    110px 644px #fff, 283px 421px #fff, 703px 1193px #fff, 756px 1343px #fff,
    1106px 584px #fff, 1077px 712px #fff, 1295px 1713px #fff, 613px 209px #fff,
    1529px 718px #fff, 658px 489px #fff, 1458px 1978px #fff, 1501px 545px #fff,
    7px 525px #fff, 1662px 1291px #fff, 1473px 199px #fff, 1928px 1595px #fff,
    251px 192px #fff, 631px 1531px #fff, 1387px 547px #fff, 92px 1089px #fff,
    1840px 1146px #fff, 667px 1028px #fff, 709px 76px #fff, 446px 1995px #fff,
    233px 45px #fff, 1426px 1812px #fff, 361px 329px #fff, 253px 190px #fff,
    42px 578px #fff, 762px 1041px #fff, 1855px 1194px #fff, 353px 1943px #fff,
    1318px 17px #fff, 1664px 929px #fff, 718px 984px #fff, 1965px 1079px #fff,
    850px 968px #fff, 1683px 1101px #fff, 1121px 1213px #fff, 1718px 1183px #fff,
    1295px 531px #fff, 521px 412px #fff, 491px 339px #fff, 809px 1552px #fff,
    33px 402px #fff, 415px 944px #fff, 1482px 1690px #fff, 263px 970px #fff,
    314px 658px #fff, 1963px 598px #fff, 161px 1555px #fff, 1251px 646px #fff,
    1687px 933px #fff, 130px 1142px #fff, 979px 280px #fff, 1332px 200px #fff,
    1344px 1784px #fff, 481px 1033px #fff, 1613px 1219px #fff, 415px 1715px #fff,
    1430px 40px #fff, 275px 1458px #fff, 1704px 489px #fff, 1799px 1806px #fff,
    821px 518px #fff, 1443px 311px #fff, 1373px 1658px #fff, 1725px 117px #fff,
    1482px 1894px #fff, 180px 936px #fff, 765px 59px #fff, 1524px 1744px #fff,
    343px 395px #fff, 58px 519px #fff, 501px 1687px #fff, 553px 523px #fff,
    78px 1202px #fff, 632px 372px #fff, 1532px 748px #fff, 1460px 975px #fff,
    497px 1443px #fff, 813px 1176px #fff, 1975px 169px #fff, 1023px 535px #fff,
    173px 113px #fff, 1457px 1019px #fff, 252px 716px #fff, 1342px 342px #fff,
    741px 1392px #fff, 53px 38px #fff, 1078px 1699px #fff, 193px 820px #fff,
    857px 1933px #fff, 1625px 659px #fff, 1523px 1169px #fff, 175px 1395px #fff,
    1187px 1016px #fff, 754px 448px #fff, 582px 941px #fff, 935px 1307px #fff,
    1688px 1689px #fff, 1861px 1934px #fff, 1034px 1466px #fff, 1665px 96px #fff,
    1576px 318px #fff, 768px 1201px #fff, 806px 813px #fff, 326px 1255px #fff,
    95px 1471px #fff, 495px 819px #fff, 188px 1873px #fff, 1511px 137px #fff,
    1477px 1215px #fff, 1579px 1795px #fff, 639px 1721px #fff, 700px 786px #fff,
    870px 538px #fff, 885px 223px #fff, 1156px 744px #fff, 694px 604px #fff,
    168px 1919px #fff, 1765px 740px #fff, 1241px 1262px #fff, 154px 372px #fff,
    139px 850px #fff, 1617px 566px #fff, 571px 974px #fff, 1683px 541px #fff,
    1163px 224px #fff, 247px 770px #fff, 1493px 351px #fff, 1118px 1922px #fff,
    1328px 612px #fff, 1420px 204px #fff, 972px 1974px #fff, 1873px 768px #fff,
    661px 1927px #fff, 1645px 882px #fff, 55px 1581px #fff, 1315px 267px #fff,
    1462px 361px #fff, 147px 1925px #fff, 1741px 1830px #fff, 1918px 84px #fff,
    1806px 242px #fff, 1983px 968px #fff, 1685px 628px #fff, 1750px 261px #fff,
    102px 1114px #fff, 1013px 1442px #fff, 1318px 1040px #fff, 219px 477px #fff,
    333px 317px #fff, 1922px 746px #fff, 1563px 1366px #fff, 318px 720px #fff,
    30px 1317px #fff, 128px 1243px #fff, 621px 314px #fff, 1889px 387px #fff,
    532px 1600px #fff, 79px 1988px #fff, 120px 1146px #fff, 1362px 1550px #fff,
    761px 1654px #fff, 1840px 1527px #fff, 1072px 1271px #fff, 1016px 762px #fff,
    954px 925px #fff, 1742px 399px #fff, 48px 1412px #fff, 316px 1400px #fff,
    1978px 518px #fff, 633px 1083px #fff, 1055px 1752px #fff, 1011px 1114px #fff,
    899px 1257px #fff, 1319px 1869px #fff, 380px 922px #fff, 1536px 1034px #fff,
    1458px 238px #fff, 712px 249px #fff, 1597px 1614px #fff, 518px 1885px #fff,
    1115px 1408px #fff, 1420px 91px #fff, 443px 314px #fff, 260px 1394px #fff,
    1556px 1993px #fff, 1810px 689px #fff, 1041px 129px #fff, 1890px 565px #fff,
    320px 779px #fff, 856px 219px #fff, 1336px 636px #fff, 1423px 1902px #fff,
    387px 169px #fff, 1968px 1714px #fff, 391px 1654px #fff, 632px 1891px #fff,
    1973px 1222px #fff, 1044px 76px #fff, 885px 1382px #fff, 632px 1284px #fff,
    1708px 322px #fff, 1003px 1421px #fff, 142px 1056px #fff, 501px 1126px #fff,
    1596px 114px #fff, 1840px 1952px #fff, 994px 364px #fff, 1775px 1593px #fff,
    157px 632px #fff, 140px 978px #fff, 457px 1807px #fff, 251px 1162px #fff,
    210px 1324px #fff, 1613px 960px #fff, 1029px 739px #fff, 1311px 1045px #fff,
    1017px 176px #fff, 1511px 968px #fff, 635px 895px #fff, 1454px 1312px #fff,
    1043px 340px #fff, 417px 812px #fff, 1295px 655px #fff, 1962px 769px #fff,
    163px 119px #fff, 1242px 945px #fff, 501px 1569px #fff, 994px 1586px #fff,
    624px 1076px #fff, 948px 1608px #fff, 255px 777px #fff, 1966px 552px #fff,
    1000px 1926px #fff, 486px 380px #fff, 1145px 1386px #fff, 1941px 1592px #fff,
    1910px 1051px #fff, 770px 1810px #fff, 1281px 1646px #fff, 1620px 1329px #fff,
    323px 1856px #fff, 178px 270px #fff, 904px 924px #fff, 718px 831px #fff,
    907px 1112px #fff, 1183px 952px #fff, 1331px 435px #fff, 1428px 812px #fff,
    1581px 821px #fff, 1610px 1783px #fff, 636px 770px #fff, 240px 1065px #fff,
    1421px 1369px #fff, 1453px 334px #fff, 1897px 1728px #fff, 411px 1660px #fff,
    363px 1413px #fff, 1000px 65px #fff, 931px 1113px #fff, 1919px 862px #fff,
    1967px 184px #fff, 1764px 1132px #fff, 1861px 1671px #fff, 1532px 1478px #fff,
    382px 1571px #fff, 950px 654px #fff, 1674px 1814px #fff, 131px 1219px #fff,
    427px 1090px #fff, 240px 1452px #fff, 191px 1680px #fff, 358px 1891px #fff,
    1941px 1227px #fff, 1899px 377px #fff, 712px 1086px #fff, 876px 1733px #fff,
    1821px 305px #fff, 292px 1984px #fff, 154px 397px #fff, 1998px 1176px #fff,
    355px 33px #fff, 158px 733px #fff, 918px 1069px #fff, 1322px 1706px #fff,
    432px 1299px #fff, 184px 1167px #fff, 267px 426px #fff, 657px 1251px #fff,
    760px 1305px #fff, 239px 1600px #fff, 474px 395px #fff, 1439px 1367px #fff,
    1690px 1549px #fff, 136px 133px #fff, 364px 1409px #fff, 334px 1603px #fff,
    805px 1440px #fff, 1980px 761px #fff, 297px 1715px #fff, 1341px 139px #fff,
    1348px 112px #fff, 69px 1957px #fff, 1318px 982px #fff, 1100px 79px #fff,
    674px 785px #fff, 154px 34px #fff, 794px 250px #fff, 597px 1691px #fff,
    547px 1601px #fff, 845px 1209px #fff, 960px 380px #fff, 36px 86px #fff,
    945px 1403px #fff, 1367px 1974px #fff, 1002px 324px #fff, 1974px 1792px #fff,
    89px 1195px #fff, 1898px 1299px #fff, 1798px 1132px #fff, 1262px 572px #fff,
    1727px 1014px #fff, 138px 499px #fff, 1470px 1967px #fff, 1585px 63px #fff,
    1622px 1738px #fff, 777px 430px #fff, 444px 97px #fff, 1949px 1121px #fff,
    56px 657px #fff, 1701px 1665px #fff, 897px 1843px #fff, 846px 1433px #fff,
    1984px 1571px #fff, 1430px 825px #fff, 1554px 1921px #fff, 1756px 1445px #fff,
    1029px 664px #fff, 41px 642px #fff, 1854px 1332px #fff, 1443px 427px #fff,
    1021px 911px #fff, 1870px 1359px #fff, 645px 1462px #fff, 1017px 290px #fff;
  animation: animStar 300s linear infinite;
}
#stars:after {
  content: ' ';

  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 266px 664px #fff, 1154px 1578px #fff, 1292px 1117px #fff, 420px 904px #fff,
    1749px 1878px #fff, 842px 711px #fff, 660px 766px #fff, 1577px 1364px #fff,
    781px 1183px #fff, 515px 1699px #fff, 1405px 571px #fff, 414px 12px #fff,
    1230px 1261px #fff, 1302px 939px #fff, 68px 1949px #fff, 97px 1580px #fff,
    213px 1286px #fff, 1765px 49px #fff, 847px 333px #fff, 465px 1987px #fff,
    1369px 129px #fff, 1312px 1871px #fff, 1957px 1515px #fff, 756px 1438px #fff,
    654px 173px #fff, 1077px 554px #fff, 559px 1500px #fff, 168px 313px #fff,
    376px 1413px #fff, 1451px 656px #fff, 720px 553px #fff, 794px 1199px #fff,
    589px 855px #fff, 1043px 1811px #fff, 908px 1192px #fff, 563px 604px #fff,
    808px 1590px #fff, 1556px 1200px #fff, 184px 1864px #fff, 180px 503px #fff,
    1227px 400px #fff, 1063px 1298px #fff, 359px 1647px #fff, 213px 578px #fff,
    1153px 76px #fff, 1780px 340px #fff, 1563px 740px #fff, 1918px 1611px #fff,
    143px 1144px #fff, 622px 1624px #fff, 1291px 1756px #fff, 1345px 261px #fff,
    1638px 1704px #fff, 1921px 1376px #fff, 1390px 1792px #fff, 1761px 530px #fff,
    295px 1463px #fff, 75px 886px #fff, 675px 1896px #fff, 1335px 411px #fff,
    1924px 79px #fff, 1795px 1390px #fff, 174px 723px #fff, 112px 750px #fff,
    1612px 1509px #fff, 80px 598px #fff, 568px 1736px #fff, 1370px 1050px #fff,
    1677px 857px #fff, 1968px 496px #fff, 1428px 651px #fff, 1356px 432px #fff,
    1678px 1558px #fff, 1845px 1199px #fff, 701px 8px #fff, 469px 382px #fff,
    1389px 197px #fff, 858px 1408px #fff, 1259px 336px #fff, 869px 156px #fff,
    316px 858px #fff, 1050px 472px #fff, 1735px 1983px #fff, 800px 1012px #fff,
    489px 760px #fff, 431px 1984px #fff, 1236px 1353px #fff, 681px 857px #fff,
    1601px 1243px #fff, 1355px 1819px #fff, 1304px 1186px #fff, 248px 699px #fff,
    995px 798px #fff, 1624px 1387px #fff, 1071px 1661px #fff, 322px 946px #fff,
    1554px 1344px #fff, 125px 114px #fff, 522px 1115px #fff, 654px 1808px #fff,
    384px 509px #fff, 774px 842px #fff, 1753px 75px #fff, 559px 1403px #fff,
    51px 1983px #fff, 605px 1355px #fff, 1976px 390px #fff, 580px 144px #fff,
    1020px 1217px #fff, 1744px 478px #fff, 901px 661px #fff, 1228px 397px #fff,
    1208px 1726px #fff, 544px 281px #fff, 298px 759px #fff, 1876px 1847px #fff,
    1128px 1109px #fff, 1904px 487px #fff, 1178px 1202px #fff, 1293px 198px #fff,
    602px 1259px #fff, 354px 1233px #fff, 1824px 1714px #fff, 599px 881px #fff,
    1570px 1075px #fff, 336px 1667px #fff, 653px 330px #fff, 342px 1587px #fff,
    991px 1912px #fff, 364px 1914px #fff, 1243px 396px #fff, 985px 1282px #fff,
    1774px 191px #fff, 1238px 1723px #fff, 983px 443px #fff, 506px 846px #fff,
    1785px 893px #fff, 721px 1999px #fff, 1274px 1883px #fff, 1854px 1524px #fff,
    1155px 1493px #fff, 500px 1054px #fff, 839px 1486px #fff, 1142px 758px #fff,
    1519px 1533px #fff, 988px 1802px #fff, 546px 1016px #fff, 1908px 1929px #fff,
    1560px 833px #fff, 776px 1947px #fff, 1427px 103px #fff, 81px 1722px #fff,
    1758px 1401px #fff, 782px 1163px #fff, 954px 267px #fff, 628px 375px #fff,
    1796px 863px #fff, 852px 1397px #fff, 1421px 384px #fff, 1082px 1424px #fff,
    859px 1039px #fff, 23px 1038px #fff, 227px 245px #fff, 1363px 1944px #fff,
    385px 382px #fff, 870px 74px #fff, 1252px 1204px #fff, 1190px 1901px #fff,
    1578px 1298px #fff, 805px 192px #fff, 1589px 1400px #fff, 743px 1300px #fff,
    804px 892px #fff, 1010px 340px #fff, 574px 493px #fff, 1222px 733px #fff,
    1625px 1784px #fff, 1528px 243px #fff, 97px 1428px #fff, 1168px 706px #fff,
    225px 1963px #fff, 272px 1495px #fff, 509px 1834px #fff, 663px 1953px #fff,
    1184px 811px #fff, 1130px 104px #fff, 797px 1648px #fff, 317px 44px #fff,
    1851px 1895px #fff, 1888px 686px #fff, 968px 1302px #fff, 1496px 1449px #fff,
    1300px 1739px #fff, 1922px 1708px #fff, 37px 465px #fff, 106px 888px #fff,
    779px 17px #fff, 65px 1860px #fff, 1196px 1652px #fff, 402px 1189px #fff,
    1579px 56px #fff, 1554px 1940px #fff, 1984px 1522px #fff, 1569px 45px #fff,
    84px 1224px #fff, 889px 699px #fff, 304px 1768px #fff, 1262px 286px #fff,
    574px 1016px #fff, 513px 1275px #fff, 348px 1584px #fff, 144px 146px #fff,
    1938px 1613px #fff, 1256px 603px #fff, 555px 238px #fff, 1895px 277px #fff,
    1931px 1544px #fff, 694px 282px #fff, 1176px 622px #fff, 1969px 1870px #fff,
    232px 1499px #fff, 280px 1773px #fff, 1223px 614px #fff, 505px 1958px #fff,
    118px 982px #fff, 144px 1035px #fff, 487px 1721px #fff, 1522px 1501px #fff,
    1987px 1816px #fff, 784px 334px #fff, 1245px 773px #fff, 1262px 412px #fff,
    104px 1969px #fff, 276px 1724px #fff, 167px 1500px #fff, 638px 336px #fff,
    1995px 1969px #fff, 1127px 1677px #fff, 1358px 1278px #fff, 305px 1509px #fff,
    1616px 1629px #fff, 297px 1317px #fff, 801px 1518px #fff, 1149px 1891px #fff,
    1442px 320px #fff, 1286px 1582px #fff, 977px 506px #fff, 1276px 1000px #fff,
    1484px 1595px #fff, 1423px 1626px #fff, 605px 1677px #fff, 1239px 831px #fff,
    140px 1758px #fff, 418px 779px #fff, 1683px 717px #fff, 1879px 34px #fff,
    1212px 1567px #fff, 1326px 1416px #fff, 1532px 282px #fff, 1491px 1594px #fff,
    350px 1667px #fff, 1882px 1608px #fff, 437px 807px #fff, 435px 1087px #fff,
    1129px 1350px #fff, 631px 585px #fff, 112px 42px #fff, 1010px 1929px #fff,
    1163px 1357px #fff, 1266px 1606px #fff, 990px 1502px #fff, 1099px 1101px #fff,
    1377px 442px #fff, 225px 655px #fff, 543px 958px #fff, 1384px 1881px #fff,
    1739px 1951px #fff, 523px 1015px #fff, 1578px 1993px #fff, 1971px 812px #fff,
    479px 583px #fff, 1935px 630px #fff, 529px 882px #fff, 1058px 501px #fff,
    1559px 63px #fff, 833px 720px #fff, 815px 1451px #fff, 690px 1186px #fff,
    1938px 1885px #fff, 1364px 183px #fff, 1785px 1594px #fff, 1662px 1016px #fff,
    321px 1653px #fff, 975px 276px #fff, 379px 1700px #fff, 1069px 308px #fff,
    1381px 1943px #fff, 1542px 733px #fff, 1807px 1056px #fff, 501px 1733px #fff,
    1736px 644px #fff, 877px 1097px #fff, 62px 1434px #fff, 599px 1585px #fff,
    1204px 327px #fff, 1823px 117px #fff, 1576px 745px #fff, 1230px 909px #fff,
    1958px 1446px #fff, 579px 1377px #fff, 1847px 697px #fff, 1452px 827px #fff,
    1860px 1420px #fff, 1027px 1689px #fff, 1704px 859px #fff, 967px 464px #fff,
    115px 1327px #fff, 1671px 532px #fff, 1217px 332px #fff, 222px 49px #fff,
    1349px 1302px #fff, 569px 1159px #fff, 467px 1198px #fff, 1186px 68px #fff,
    1354px 1736px #fff, 1839px 915px #fff, 1390px 1303px #fff, 1822px 1859px #fff,
    429px 265px #fff, 1687px 322px #fff, 1406px 226px #fff, 1683px 1593px #fff,
    1301px 1680px #fff, 812px 598px #fff, 813px 485px #fff, 1925px 1801px #fff,
    506px 1306px #fff, 507px 208px #fff, 69px 1614px #fff, 1277px 764px #fff,
    1634px 1006px #fff, 1734px 490px #fff, 1546px 1291px #fff, 583px 1488px #fff,
    94px 68px #fff, 1685px 446px #fff, 1910px 590px #fff, 601px 711px #fff,
    714px 1925px #fff, 508px 420px #fff, 1601px 3px #fff, 1633px 904px #fff,
    110px 644px #fff, 283px 421px #fff, 703px 1193px #fff, 756px 1343px #fff,
    1106px 584px #fff, 1077px 712px #fff, 1295px 1713px #fff, 613px 209px #fff,
    1529px 718px #fff, 658px 489px #fff, 1458px 1978px #fff, 1501px 545px #fff,
    7px 525px #fff, 1662px 1291px #fff, 1473px 199px #fff, 1928px 1595px #fff,
    251px 192px #fff, 631px 1531px #fff, 1387px 547px #fff, 92px 1089px #fff,
    1840px 1146px #fff, 667px 1028px #fff, 709px 76px #fff, 446px 1995px #fff,
    233px 45px #fff, 1426px 1812px #fff, 361px 329px #fff, 253px 190px #fff,
    42px 578px #fff, 762px 1041px #fff, 1855px 1194px #fff, 353px 1943px #fff,
    1318px 17px #fff, 1664px 929px #fff, 718px 984px #fff, 1965px 1079px #fff,
    850px 968px #fff, 1683px 1101px #fff, 1121px 1213px #fff, 1718px 1183px #fff,
    1295px 531px #fff, 521px 412px #fff, 491px 339px #fff, 809px 1552px #fff,
    33px 402px #fff, 415px 944px #fff, 1482px 1690px #fff, 263px 970px #fff,
    314px 658px #fff, 1963px 598px #fff, 161px 1555px #fff, 1251px 646px #fff,
    1687px 933px #fff, 130px 1142px #fff, 979px 280px #fff, 1332px 200px #fff,
    1344px 1784px #fff, 481px 1033px #fff, 1613px 1219px #fff, 415px 1715px #fff,
    1430px 40px #fff, 275px 1458px #fff, 1704px 489px #fff, 1799px 1806px #fff,
    821px 518px #fff, 1443px 311px #fff, 1373px 1658px #fff, 1725px 117px #fff,
    1482px 1894px #fff, 180px 936px #fff, 765px 59px #fff, 1524px 1744px #fff,
    343px 395px #fff, 58px 519px #fff, 501px 1687px #fff, 553px 523px #fff,
    78px 1202px #fff, 632px 372px #fff, 1532px 748px #fff, 1460px 975px #fff,
    497px 1443px #fff, 813px 1176px #fff, 1975px 169px #fff, 1023px 535px #fff,
    173px 113px #fff, 1457px 1019px #fff, 252px 716px #fff, 1342px 342px #fff,
    741px 1392px #fff, 53px 38px #fff, 1078px 1699px #fff, 193px 820px #fff,
    857px 1933px #fff, 1625px 659px #fff, 1523px 1169px #fff, 175px 1395px #fff,
    1187px 1016px #fff, 754px 448px #fff, 582px 941px #fff, 935px 1307px #fff,
    1688px 1689px #fff, 1861px 1934px #fff, 1034px 1466px #fff, 1665px 96px #fff,
    1576px 318px #fff, 768px 1201px #fff, 806px 813px #fff, 326px 1255px #fff,
    95px 1471px #fff, 495px 819px #fff, 188px 1873px #fff, 1511px 137px #fff,
    1477px 1215px #fff, 1579px 1795px #fff, 639px 1721px #fff, 700px 786px #fff,
    870px 538px #fff, 885px 223px #fff, 1156px 744px #fff, 694px 604px #fff,
    168px 1919px #fff, 1765px 740px #fff, 1241px 1262px #fff, 154px 372px #fff,
    139px 850px #fff, 1617px 566px #fff, 571px 974px #fff, 1683px 541px #fff,
    1163px 224px #fff, 247px 770px #fff, 1493px 351px #fff, 1118px 1922px #fff,
    1328px 612px #fff, 1420px 204px #fff, 972px 1974px #fff, 1873px 768px #fff,
    661px 1927px #fff, 1645px 882px #fff, 55px 1581px #fff, 1315px 267px #fff,
    1462px 361px #fff, 147px 1925px #fff, 1741px 1830px #fff, 1918px 84px #fff,
    1806px 242px #fff, 1983px 968px #fff, 1685px 628px #fff, 1750px 261px #fff,
    102px 1114px #fff, 1013px 1442px #fff, 1318px 1040px #fff, 219px 477px #fff,
    333px 317px #fff, 1922px 746px #fff, 1563px 1366px #fff, 318px 720px #fff,
    30px 1317px #fff, 128px 1243px #fff, 621px 314px #fff, 1889px 387px #fff,
    532px 1600px #fff, 79px 1988px #fff, 120px 1146px #fff, 1362px 1550px #fff,
    761px 1654px #fff, 1840px 1527px #fff, 1072px 1271px #fff, 1016px 762px #fff,
    954px 925px #fff, 1742px 399px #fff, 48px 1412px #fff, 316px 1400px #fff,
    1978px 518px #fff, 633px 1083px #fff, 1055px 1752px #fff, 1011px 1114px #fff,
    899px 1257px #fff, 1319px 1869px #fff, 380px 922px #fff, 1536px 1034px #fff,
    1458px 238px #fff, 712px 249px #fff, 1597px 1614px #fff, 518px 1885px #fff,
    1115px 1408px #fff, 1420px 91px #fff, 443px 314px #fff, 260px 1394px #fff,
    1556px 1993px #fff, 1810px 689px #fff, 1041px 129px #fff, 1890px 565px #fff,
    320px 779px #fff, 856px 219px #fff, 1336px 636px #fff, 1423px 1902px #fff,
    387px 169px #fff, 1968px 1714px #fff, 391px 1654px #fff, 632px 1891px #fff,
    1973px 1222px #fff, 1044px 76px #fff, 885px 1382px #fff, 632px 1284px #fff,
    1708px 322px #fff, 1003px 1421px #fff, 142px 1056px #fff, 501px 1126px #fff,
    1596px 114px #fff, 1840px 1952px #fff, 994px 364px #fff, 1775px 1593px #fff,
    157px 632px #fff, 140px 978px #fff, 457px 1807px #fff, 251px 1162px #fff,
    210px 1324px #fff, 1613px 960px #fff, 1029px 739px #fff, 1311px 1045px #fff,
    1017px 176px #fff, 1511px 968px #fff, 635px 895px #fff, 1454px 1312px #fff,
    1043px 340px #fff, 417px 812px #fff, 1295px 655px #fff, 1962px 769px #fff,
    163px 119px #fff, 1242px 945px #fff, 501px 1569px #fff, 994px 1586px #fff,
    624px 1076px #fff, 948px 1608px #fff, 255px 777px #fff, 1966px 552px #fff,
    1000px 1926px #fff, 486px 380px #fff, 1145px 1386px #fff, 1941px 1592px #fff,
    1910px 1051px #fff, 770px 1810px #fff, 1281px 1646px #fff, 1620px 1329px #fff,
    323px 1856px #fff, 178px 270px #fff, 904px 924px #fff, 718px 831px #fff,
    907px 1112px #fff, 1183px 952px #fff, 1331px 435px #fff, 1428px 812px #fff,
    1581px 821px #fff, 1610px 1783px #fff, 636px 770px #fff, 240px 1065px #fff,
    1421px 1369px #fff, 1453px 334px #fff, 1897px 1728px #fff, 411px 1660px #fff,
    363px 1413px #fff, 1000px 65px #fff, 931px 1113px #fff, 1919px 862px #fff,
    1967px 184px #fff, 1764px 1132px #fff, 1861px 1671px #fff, 1532px 1478px #fff,
    382px 1571px #fff, 950px 654px #fff, 1674px 1814px #fff, 131px 1219px #fff,
    427px 1090px #fff, 240px 1452px #fff, 191px 1680px #fff, 358px 1891px #fff,
    1941px 1227px #fff, 1899px 377px #fff, 712px 1086px #fff, 876px 1733px #fff,
    1821px 305px #fff, 292px 1984px #fff, 154px 397px #fff, 1998px 1176px #fff,
    355px 33px #fff, 158px 733px #fff, 918px 1069px #fff, 1322px 1706px #fff,
    432px 1299px #fff, 184px 1167px #fff, 267px 426px #fff, 657px 1251px #fff,
    760px 1305px #fff, 239px 1600px #fff, 474px 395px #fff, 1439px 1367px #fff,
    1690px 1549px #fff, 136px 133px #fff, 364px 1409px #fff, 334px 1603px #fff,
    805px 1440px #fff, 1980px 761px #fff, 297px 1715px #fff, 1341px 139px #fff,
    1348px 112px #fff, 69px 1957px #fff, 1318px 982px #fff, 1100px 79px #fff,
    674px 785px #fff, 154px 34px #fff, 794px 250px #fff, 597px 1691px #fff,
    547px 1601px #fff, 845px 1209px #fff, 960px 380px #fff, 36px 86px #fff,
    945px 1403px #fff, 1367px 1974px #fff, 1002px 324px #fff, 1974px 1792px #fff,
    89px 1195px #fff, 1898px 1299px #fff, 1798px 1132px #fff, 1262px 572px #fff,
    1727px 1014px #fff, 138px 499px #fff, 1470px 1967px #fff, 1585px 63px #fff,
    1622px 1738px #fff, 777px 430px #fff, 444px 97px #fff, 1949px 1121px #fff,
    56px 657px #fff, 1701px 1665px #fff, 897px 1843px #fff, 846px 1433px #fff,
    1984px 1571px #fff, 1430px 825px #fff, 1554px 1921px #fff, 1756px 1445px #fff,
    1029px 664px #fff, 41px 642px #fff, 1854px 1332px #fff, 1443px 427px #fff,
    1021px 911px #fff, 1870px 1359px #fff, 645px 1462px #fff, 1017px 290px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 770px 1242px #fff, 1126px 428px #fff, 162px 763px #fff, 1652px 1133px #fff,
    888px 671px #fff, 218px 76px #fff, 287px 1379px #fff, 1379px 1197px #fff,
    1550px 1840px #fff, 1108px 494px #fff, 1546px 87px #fff, 569px 1360px #fff,
    1463px 70px #fff, 1448px 1429px #fff, 1832px 1993px #fff, 271px 1886px #fff,
    261px 1733px #fff, 1255px 629px #fff, 1147px 623px #fff, 1669px 781px #fff,
    1791px 1281px #fff, 66px 745px #fff, 1787px 68px #fff, 1775px 1172px #fff,
    1972px 535px #fff, 918px 764px #fff, 966px 1657px #fff, 544px 1059px #fff,
    681px 1674px #fff, 351px 151px #fff, 1245px 55px #fff, 1647px 927px #fff,
    1945px 177px #fff, 291px 240px #fff, 1939px 1686px #fff, 1648px 1986px #fff,
    1348px 912px #fff, 913px 1051px #fff, 154px 1694px #fff, 1395px 928px #fff,
    598px 887px #fff, 198px 351px #fff, 1457px 1989px #fff, 517px 1479px #fff,
    1272px 1223px #fff, 900px 834px #fff, 1279px 1758px #fff, 1751px 900px #fff,
    1831px 1858px #fff, 151px 1203px #fff, 1376px 1701px #fff, 1610px 1081px #fff,
    617px 352px #fff, 737px 1932px #fff, 343px 1197px #fff, 277px 305px #fff,
    212px 750px #fff, 585px 1714px #fff, 1225px 808px #fff, 907px 1403px #fff,
    1276px 1942px #fff, 360px 466px #fff, 1026px 1042px #fff, 616px 1380px #fff,
    1758px 1240px #fff, 1027px 133px #fff, 201px 1254px #fff, 1818px 707px #fff,
    1738px 1025px #fff, 826px 873px #fff, 1986px 1903px #fff, 45px 1075px #fff,
    1234px 794px #fff, 1827px 1581px #fff, 735px 746px #fff, 37px 1149px #fff,
    1988px 397px #fff, 1595px 4px #fff, 1524px 695px #fff, 1424px 1131px #fff,
    1091px 843px #fff, 1261px 353px #fff, 1303px 669px #fff, 1082px 1551px #fff,
    1843px 1391px #fff, 1568px 363px #fff, 69px 1514px #fff, 1702px 664px #fff,
    1546px 1343px #fff, 385px 1323px #fff, 183px 1651px #fff, 1594px 1350px #fff,
    631px 1733px #fff, 1096px 1788px #fff, 810px 1505px #fff, 1091px 1492px #fff,
    1547px 1724px #fff, 1342px 1648px #fff, 1967px 1045px #fff, 1213px 1396px #fff,
    188px 1615px #fff, 799px 1337px #fff, 1535px 731px #fff, 1628px 1495px #fff,
    716px 1286px #fff, 1px 482px #fff, 1825px 345px #fff, 446px 479px #fff,
    383px 1987px #fff, 227px 1500px #fff, 431px 148px #fff, 1563px 1522px #fff,
    1305px 560px #fff, 923px 532px #fff, 987px 1719px #fff, 1678px 1001px #fff,
    817px 742px #fff, 1086px 1746px #fff, 1685px 665px #fff, 32px 307px #fff,
    1028px 1365px #fff, 1528px 1400px #fff, 121px 78px #fff, 610px 1422px #fff,
    477px 1748px #fff, 1285px 38px #fff, 1858px 1490px #fff, 1130px 1736px #fff,
    42px 1695px #fff, 1473px 601px #fff, 622px 179px #fff, 1965px 1217px #fff,
    791px 126px #fff, 1383px 1867px #fff, 1209px 73px #fff, 727px 55px #fff,
    50px 1902px #fff, 95px 1547px #fff, 1501px 628px #fff, 171px 361px #fff,
    910px 1162px #fff, 1926px 1126px #fff, 402px 522px #fff, 404px 563px #fff,
    305px 445px #fff, 503px 483px #fff, 808px 731px #fff, 316px 735px #fff,
    440px 686px #fff, 47px 811px #fff, 1002px 1872px #fff, 562px 47px #fff,
    1783px 1520px #fff, 1738px 106px #fff, 1262px 1176px #fff, 1413px 718px #fff,
    1100px 793px #fff, 836px 738px #fff, 1771px 801px #fff, 1046px 1565px #fff,
    693px 844px #fff, 1886px 1507px #fff, 1430px 1370px #fff, 419px 1015px #fff,
    125px 1593px #fff, 359px 1352px #fff, 621px 1013px #fff, 549px 1488px #fff,
    1279px 742px #fff, 1616px 732px #fff, 1117px 1234px #fff, 456px 343px #fff,
    1495px 1743px #fff, 583px 1668px #fff, 1514px 634px #fff, 91px 1017px #fff,
    139px 1012px #fff, 815px 987px #fff, 1052px 1066px #fff, 1621px 1986px #fff,
    1956px 421px #fff, 914px 1227px #fff, 1533px 1472px #fff, 1068px 1946px #fff,
    1089px 761px #fff, 1774px 155px #fff, 15px 1977px #fff, 283px 1307px #fff,
    1197px 70px #fff, 1675px 1758px #fff, 1856px 1164px #fff, 1616px 1512px #fff,
    1125px 487px #fff, 1516px 1304px #fff, 439px 1607px #fff, 1624px 255px #fff,
    1270px 256px #fff, 1890px 1201px #fff, 50px 1102px #fff, 782px 477px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';

  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 770px 1242px #fff, 1126px 428px #fff, 162px 763px #fff, 1652px 1133px #fff,
    888px 671px #fff, 218px 76px #fff, 287px 1379px #fff, 1379px 1197px #fff,
    1550px 1840px #fff, 1108px 494px #fff, 1546px 87px #fff, 569px 1360px #fff,
    1463px 70px #fff, 1448px 1429px #fff, 1832px 1993px #fff, 271px 1886px #fff,
    261px 1733px #fff, 1255px 629px #fff, 1147px 623px #fff, 1669px 781px #fff,
    1791px 1281px #fff, 66px 745px #fff, 1787px 68px #fff, 1775px 1172px #fff,
    1972px 535px #fff, 918px 764px #fff, 966px 1657px #fff, 544px 1059px #fff,
    681px 1674px #fff, 351px 151px #fff, 1245px 55px #fff, 1647px 927px #fff,
    1945px 177px #fff, 291px 240px #fff, 1939px 1686px #fff, 1648px 1986px #fff,
    1348px 912px #fff, 913px 1051px #fff, 154px 1694px #fff, 1395px 928px #fff,
    598px 887px #fff, 198px 351px #fff, 1457px 1989px #fff, 517px 1479px #fff,
    1272px 1223px #fff, 900px 834px #fff, 1279px 1758px #fff, 1751px 900px #fff,
    1831px 1858px #fff, 151px 1203px #fff, 1376px 1701px #fff, 1610px 1081px #fff,
    617px 352px #fff, 737px 1932px #fff, 343px 1197px #fff, 277px 305px #fff,
    212px 750px #fff, 585px 1714px #fff, 1225px 808px #fff, 907px 1403px #fff,
    1276px 1942px #fff, 360px 466px #fff, 1026px 1042px #fff, 616px 1380px #fff,
    1758px 1240px #fff, 1027px 133px #fff, 201px 1254px #fff, 1818px 707px #fff,
    1738px 1025px #fff, 826px 873px #fff, 1986px 1903px #fff, 45px 1075px #fff,
    1234px 794px #fff, 1827px 1581px #fff, 735px 746px #fff, 37px 1149px #fff,
    1988px 397px #fff, 1595px 4px #fff, 1524px 695px #fff, 1424px 1131px #fff,
    1091px 843px #fff, 1261px 353px #fff, 1303px 669px #fff, 1082px 1551px #fff,
    1843px 1391px #fff, 1568px 363px #fff, 69px 1514px #fff, 1702px 664px #fff,
    1546px 1343px #fff, 385px 1323px #fff, 183px 1651px #fff, 1594px 1350px #fff,
    631px 1733px #fff, 1096px 1788px #fff, 810px 1505px #fff, 1091px 1492px #fff,
    1547px 1724px #fff, 1342px 1648px #fff, 1967px 1045px #fff, 1213px 1396px #fff,
    188px 1615px #fff, 799px 1337px #fff, 1535px 731px #fff, 1628px 1495px #fff,
    716px 1286px #fff, 1px 482px #fff, 1825px 345px #fff, 446px 479px #fff,
    383px 1987px #fff, 227px 1500px #fff, 431px 148px #fff, 1563px 1522px #fff,
    1305px 560px #fff, 923px 532px #fff, 987px 1719px #fff, 1678px 1001px #fff,
    817px 742px #fff, 1086px 1746px #fff, 1685px 665px #fff, 32px 307px #fff,
    1028px 1365px #fff, 1528px 1400px #fff, 121px 78px #fff, 610px 1422px #fff,
    477px 1748px #fff, 1285px 38px #fff, 1858px 1490px #fff, 1130px 1736px #fff,
    42px 1695px #fff, 1473px 601px #fff, 622px 179px #fff, 1965px 1217px #fff,
    791px 126px #fff, 1383px 1867px #fff, 1209px 73px #fff, 727px 55px #fff,
    50px 1902px #fff, 95px 1547px #fff, 1501px 628px #fff, 171px 361px #fff,
    910px 1162px #fff, 1926px 1126px #fff, 402px 522px #fff, 404px 563px #fff,
    305px 445px #fff, 503px 483px #fff, 808px 731px #fff, 316px 735px #fff,
    440px 686px #fff, 47px 811px #fff, 1002px 1872px #fff, 562px 47px #fff,
    1783px 1520px #fff, 1738px 106px #fff, 1262px 1176px #fff, 1413px 718px #fff,
    1100px 793px #fff, 836px 738px #fff, 1771px 801px #fff, 1046px 1565px #fff,
    693px 844px #fff, 1886px 1507px #fff, 1430px 1370px #fff, 419px 1015px #fff,
    125px 1593px #fff, 359px 1352px #fff, 621px 1013px #fff, 549px 1488px #fff,
    1279px 742px #fff, 1616px 732px #fff, 1117px 1234px #fff, 456px 343px #fff,
    1495px 1743px #fff, 583px 1668px #fff, 1514px 634px #fff, 91px 1017px #fff,
    139px 1012px #fff, 815px 987px #fff, 1052px 1066px #fff, 1621px 1986px #fff,
    1956px 421px #fff, 914px 1227px #fff, 1533px 1472px #fff, 1068px 1946px #fff,
    1089px 761px #fff, 1774px 155px #fff, 15px 1977px #fff, 283px 1307px #fff,
    1197px 70px #fff, 1675px 1758px #fff, 1856px 1164px #fff, 1616px 1512px #fff,
    1125px 487px #fff, 1516px 1304px #fff, 439px 1607px #fff, 1624px 255px #fff,
    1270px 256px #fff, 1890px 1201px #fff, 50px 1102px #fff, 782px 477px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1742px 1544px #fff, 1963px 971px #fff, 1224px 107px #fff, 61px 618px #fff,
    1239px 118px #fff, 421px 1457px #fff, 745px 1756px #fff, 174px 955px #fff,
    1037px 103px #fff, 250px 153px #fff, 1258px 225px #fff, 1113px 1739px #fff,
    1745px 754px #fff, 1819px 1278px #fff, 732px 1520px #fff, 591px 188px #fff,
    779px 858px #fff, 757px 224px #fff, 870px 301px #fff, 604px 1152px #fff,
    1px 1163px #fff, 195px 880px #fff, 1190px 1713px #fff, 163px 890px #fff,
    1417px 208px #fff, 1769px 17px #fff, 72px 1684px #fff, 384px 1202px #fff,
    610px 1199px #fff, 1631px 477px #fff, 1019px 475px #fff, 1715px 506px #fff,
    1280px 1999px #fff, 709px 1195px #fff, 1374px 1664px #fff, 998px 778px #fff,
    924px 1418px #fff, 1972px 1406px #fff, 934px 1059px #fff, 349px 669px #fff,
    1401px 495px #fff, 1925px 1358px #fff, 332px 1320px #fff, 1985px 1834px #fff,
    1459px 1975px #fff, 208px 578px #fff, 605px 1320px #fff, 1050px 1232px #fff,
    962px 1660px #fff, 557px 368px #fff, 45px 1459px #fff, 871px 580px #fff,
    1686px 1142px #fff, 782px 1332px #fff, 1742px 555px #fff, 710px 187px #fff,
    1100px 421px #fff, 783px 1622px #fff, 287px 519px #fff, 1154px 1379px #fff,
    1729px 1550px #fff, 501px 505px #fff, 1316px 43px #fff, 1997px 1119px #fff,
    1642px 1158px #fff, 1033px 1926px #fff, 853px 77px #fff, 347px 1433px #fff,
    479px 103px #fff, 1904px 147px #fff, 372px 1602px #fff, 618px 1678px #fff,
    477px 268px #fff, 756px 1183px #fff, 56px 222px #fff, 768px 870px #fff,
    739px 1838px #fff, 1528px 113px #fff, 1879px 971px #fff, 1257px 187px #fff,
    814px 502px #fff, 1140px 1684px #fff, 1154px 792px #fff, 324px 429px #fff,
    240px 1054px #fff, 945px 129px #fff, 1956px 700px #fff, 1215px 602px #fff,
    1746px 1283px #fff, 52px 1388px #fff, 1365px 1509px #fff, 1105px 169px #fff,
    456px 1262px #fff, 911px 864px #fff, 634px 1435px #fff, 1061px 482px #fff,
    890px 1254px #fff, 592px 1401px #fff, 1377px 948px #fff, 731px 617px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';

  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1742px 1544px #fff, 1963px 971px #fff, 1224px 107px #fff, 61px 618px #fff,
    1239px 118px #fff, 421px 1457px #fff, 745px 1756px #fff, 174px 955px #fff,
    1037px 103px #fff, 250px 153px #fff, 1258px 225px #fff, 1113px 1739px #fff,
    1745px 754px #fff, 1819px 1278px #fff, 732px 1520px #fff, 591px 188px #fff,
    779px 858px #fff, 757px 224px #fff, 870px 301px #fff, 604px 1152px #fff,
    1px 1163px #fff, 195px 880px #fff, 1190px 1713px #fff, 163px 890px #fff,
    1417px 208px #fff, 1769px 17px #fff, 72px 1684px #fff, 384px 1202px #fff,
    610px 1199px #fff, 1631px 477px #fff, 1019px 475px #fff, 1715px 506px #fff,
    1280px 1999px #fff, 709px 1195px #fff, 1374px 1664px #fff, 998px 778px #fff,
    924px 1418px #fff, 1972px 1406px #fff, 934px 1059px #fff, 349px 669px #fff,
    1401px 495px #fff, 1925px 1358px #fff, 332px 1320px #fff, 1985px 1834px #fff,
    1459px 1975px #fff, 208px 578px #fff, 605px 1320px #fff, 1050px 1232px #fff,
    962px 1660px #fff, 557px 368px #fff, 45px 1459px #fff, 871px 580px #fff,
    1686px 1142px #fff, 782px 1332px #fff, 1742px 555px #fff, 710px 187px #fff,
    1100px 421px #fff, 783px 1622px #fff, 287px 519px #fff, 1154px 1379px #fff,
    1729px 1550px #fff, 501px 505px #fff, 1316px 43px #fff, 1997px 1119px #fff,
    1642px 1158px #fff, 1033px 1926px #fff, 853px 77px #fff, 347px 1433px #fff,
    479px 103px #fff, 1904px 147px #fff, 372px 1602px #fff, 618px 1678px #fff,
    477px 268px #fff, 756px 1183px #fff, 56px 222px #fff, 768px 870px #fff,
    739px 1838px #fff, 1528px 113px #fff, 1879px 971px #fff, 1257px 187px #fff,
    814px 502px #fff, 1140px 1684px #fff, 1154px 792px #fff, 324px 429px #fff,
    240px 1054px #fff, 945px 129px #fff, 1956px 700px #fff, 1215px 602px #fff,
    1746px 1283px #fff, 52px 1388px #fff, 1365px 1509px #fff, 1105px 169px #fff,
    456px 1262px #fff, 911px 864px #fff, 634px 1435px #fff, 1061px 482px #fff,
    890px 1254px #fff, 592px 1401px #fff, 1377px 948px #fff, 731px 617px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
